<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcp" maxBufferPoolSize="60000000" maxBufferSize="60000000" maxReceivedMessageSize="60000000" transferMode="StreamedResponse">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
												maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="FileManagerServiceLibrary.FileManagerService">
        <endpoint address="net.tcp://localhost:998/FileManagerService" binding="netTcpBinding"
				 bindingConfiguration="netTcp" contract="SharedLibrary.IFileManagerService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>